.Header {
  display: flex;
  border-bottom: 1px solid silver;
  margin-bottom: 0.5rem;
  gap: 5px;
  .Link {
    border: 1px solid silver;
    padding: 0px 5px;
    margin-bottom: -1px;
  }
  .Link--active {
    border-bottom-color: white;
  }
}
