.DS {
  display: flex;
  align-items: center;
  gap: 5px;
  --size: 14px;
  --cont: 14px;
  &--major {
    font-weight: bold;
  }
  &--minor {
    font-size: 0.5em;
  }
  &--minor &__dot {
    margin: 3px;
    width: 6px;
    height: 6px;
    border-width: 2px;
  }
  &--major &__dot {
    border-radius: 0;
    rotate: 45deg;
  }
  &__dot {
    margin: 1px;
    width: 14px;
    height: 14px;
    border: 3px solid black;
    background-color: white;
    border-radius: 50%;
  }
}
