.Progress {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2px;
  gap: 3px;
  &__bar {
    --fg: #b00;
    --bg: silver;
    --size: 1;
    width: 1px;
    min-width: 0;
    max-width: 100vw;
    height: 5px;
    flex-grow: var(--size);
    &::-moz-progress-bar {
      background: var(--fg);
    }
    &::-webkit-progress-value {
      background: var(--fg);
    }
    &::-webkit-progress-bar {
      background-color: var(--bg);
    }
    background: var(--bg);
    color: var(--fg);
  }
}
