:root {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@import "./styles/flex.scss";
.invisible {
  visibility: hidden;
}
.shift {
  position: relative;
  top: -50%;
}
.double {
  font-size: 1.5rem;
}
.dim {
  opacity: 0.5;
}
a {
  text-decoration: none;
  color: #04f;
  &:hover {
    text-decoration: underline;
  }
}
.columns {
  columns: auto 20rem;
}
.break {
  word-break: break-word;
}
section {
  margin: 5px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
}
input,
button,
select {
  margin: 2px;
  padding: 1px 2px;
  font-size: 1rem;
}
label {
  margin: 2px;
  background: silver;
}
.w-100 {
  width: 100px;
}
label > input,
label > select {
  margin: 0;
}
button {
  display: flex;
  align-items: center;
}
