.react-tabs{
    &__tab-list{
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      padding: 0 20px;
      gap:5px;
      border-bottom: 1px solid silver;
    }
    &__tab{
      background: white;
      margin:0;
      margin-bottom: -1px;
      outline:none;
      padding: 0px 5px;
      border: 1px solid silver;
      cursor: pointer;
      &--selected{
        border-bottom: 1px solid white;
      }
    }
    &__tab-panel{
      display: none;
      &--selected{
        display: block;
      }
    }
}